
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purchase Order</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Purchase Order</div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td>Plant Name</td>
                    <td id="name" th:text="${po.plant.name}"></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td id="total"  th:text="${po.total}"></td>
                </tr>
                <tr>
                    <td>PO Status</td>
                    <td id="po-status" th:text="${po.status}"></td>
                </tr>
                <tr>
                    <td>Start Date</td>
                    <td id="start-date" th:text="${po.rentalPeriod.startDate}"></td>
                </tr>
                <tr>
                    <td>End Date</td>
                    <td id="end-date" th:text="${po.rentalPeriod.endDate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>